body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.projetos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projeto {
    background: #f4f4f4;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    width: 200px; /* Largura dos quadrados */
    height: 150px; /* Altura fixa para os quadrados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do projeto */
}

.projeto h3 {
    font-size: 1.2em; /* Tamanho do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

.link-projeto {
    color: #007BFF;
    text-decoration: none;
}

.link-projeto:hover {
    text-decoration: underline;
}

