/*star bayard*/
.biografiabayard{    
    background-color: #f5a13e;
}
/*end bayard*/
/*start nasim*/
.biografianasim{
	background-color: #e5c937;
}
/*end nasim*/
/*start simon*/
.biografiasimon{
	background-color: #a94ff0;
}
/*end simon*/
/*start nancy*/
.biografianancy{
	background-color: #E64241;
}
/*end nancy*/
/*start frida*/
.biografiafrida{
	background-color: #4CB948;
}
/*end frida*/
/*start karl*/
.biografiakarl{
	background-color: #0B99FF;
}
/*end karl*/